@charset "UTF-8";
/* reset */
body, h1, h2, h3, h4, h5, h6, p, address,
ul, ol, li, dl, dt, dd, img, form, table, tr, th, td {
	margin: 0;
	padding: 0;
	border: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	text-align: left;
	list-style-type: none;
	border-collapse: collapse;
}

textarea { font-size: 100%; vertical-align:middle;}
img { border-style: none; display: block; }
hr { display: none; }
em{font-style: normal}
input{line-height:auto;vertical-align:middle;}
strong.more{color:#c30}
a{text-decoration: none;}

body {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}




.SwiperContainer{
	position: relative;
}

.swiper {
	position: center;
	width: min(100%);
	height: 400px;
	}
  
.swiper-slide img {
	
	width: 100%;
	height: 100%;
  }

.swiper-scrollbar{
    bottom:-10px !important;
	}




.page{
	margin: 10px 100px;
}


.page-header{
	background-color:#FFC7AF;
	font-size: 30px;
	padding: 5px;
	margin: 2px;
}

.page-content{
	display:none;
	font-size: 20px;
}





.Signature-Food{
	opacity: 0;
	transition: all 3s;
	margin: 150px 0px 0px 0px;
}

.Our-Coffee{
	opacity: 0;
	transition: all 3s;
	margin: 50px 0px 0px 0px;
}

.Our-Food{
	opacity: 0;
	transition: all 3s;
	margin: 50px 0px 0px 0px;
}

.food-food{
	text-indent: 1rem;
	font-weight: bolder;
	font-size: 30px;
	line-height: 1.5;
}

.food-image{
	display: flex;
    justify-content:space-between;
	margin: 10px;
}

.food-image img{
	width: 95%;
	height: 100%;
}

.food-image p{
	width: 100%;
	font-size: 15px;
}




.address{
	color: white;
	background-color: black;
	display: flex;
	justify-content: space-around;
	padding: 10px;
	margin: 100px 0px 50px 0px;
	opacity: 0;
	transition: all 3s;
}

h3.address-text2{
	text-indent: 1rem;
}

.address img{
	width:50%;
	height: 100%;
}




.tenpo{
	opacity: 0;
	transition: all 3s;
}

.tenpos{
	position: relative;
	display: flex;
	justify-content:space-around;		
}

.tenpos img{
	border-radius: 50%;
	width: 200px;
    height: 200px;
}

.fadeIn{
	opacity: 1;
}




footer{	
	background-color:  darkgray;
	width: 100%;
	padding: 30px;	
}

.footer-menu{
	text-align: center;    
}

.footer-menu li{	
	display: inline;
	padding: 10px;
}





@media screen and (max-width:480px){
	
	.swiper-slide img {
		padding: 20px 0px 0px 0px;
		margin: auto;
		width: 400px;
		height: 390px;
	  }

	.page{
		margin: 10px 30px;
	}

	.page-content{
		font-size: 15px;
	}


	.food-image{
		display: block;
	}

	.food-image img{
		width: 100%;
		height: 100%;
	}

	.food-image p{
		width: 100%;
		font-size: 20px;
	
	
	}


	.address{
		display: block;
		padding: 0;
		
	}

	.address img{
		width: 100%;
	}
	.tenpo{
		display:none;
	}

	
}